
<%= form_with model: [commentable, commentable.comments.build] do |f| %>
  <div class="form-group">
    <%= f.text_area :body, class: 'form-control mb-2' %>
    <%= f.submit 'Add Comment', class: 'btn btn-primary' %>
  </div>
<% end %>
