<div class="card mb-4 shadow"> 
  <div class="card-header bg-body d-flex justify-content-between">
    <div>Posted by: <%= link_to post.user.email, user_profile_path(post.user), style: "text-decoration: none" %></div>
    <div class="align-items-right">
      Likes: <%= post.likes.count %>
    </div>

  </div>
  <div class="card-body text-secondary">
    <%= link_to post.body, post, style: "text-decoration: none" %>
  </div>
</div>